In [1]:
print('Enter test case')

Enter test case

In [2]:
totalCase = int(input())

4

In [ ]:
if totalCase < 1 or totalCase > 10:
    print('Number of test case must between 1 to 10 ')
    
else:
    for i in range(1,totalCase+1):
        print('Total person')
        totalPerson  = int(input())
        if totalPerson > 1 or totalPerson <= 100000:
            print('Enter each cost')
            cost = input()
            print(type(cost))
        else:
            print( 'wrong input')
            
        amount = cost.split(' ')
        
        for a in range(1,len(amount)):
            if int(amount[a]) > 1000000 or int(amount[a]) < 1:
                print('wrong input')
                
            
        temple = []
        village = amount
        total = 0
        
        for a in range(1,len(amount)+1):
            if len(temple) != len(amount):
                one = village.pop(0)
                two = village.pop(0)
                
                temple.append(one)
                temple.append(two)
                
                total = int(total) + int(max(one,two))
                
                temp = temple.pop(0)
                
                village.append(temp)
        
        
        one = village.pop(0)
        two = village.pop(0)

        total = int(total) + int(max(one,two))
        
        print('total amount',total)

Total person
4
Enter each cost
600 800 150 700
<class 'str'>
total 800
total 1500
total amount 2300
Total person

In [4]:
totalPerson

90

In [5]:
cost

'0-'